/* ===== RESET/NORMALIZE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* ====== BASE ELEMENTS ======= */
/* ===== БАЗОВЫЕ ЭЛЕМЕНТЫ ===== */
html, body {
    margin: 1px;
    padding: 0;
    overflow: hidden;
}

/* ===== VARIABLES ====== */
/* ===== ПЕРЕМЕННЫЕ ===== */
:root {
    --tab-height: 40px; /* Tab bar height / Высота панели вкладок */
    --status-bar-height: 30px; /* Status bar height / Высота строки статуса */
    --status-bar-padding: 5px; /* Padding above status bar / Отступ сверху строки статуса */
    --status-height: calc(var(--status-bar-height) + var(--status-bar-padding)); /* Total status bar height / Общая высота строки статуса */
}

/* ===== LAYOUT ===== */
/* ===== МАКЕТ ====== */

/* Main container / Основной контейнер */
.main-container {
    display: grid;
    grid-template-rows: var(--tab-height) 1fr var(--status-height); /* var(--status-height); */
    height: 100vh;
}


/* ==== Styles for tabs ==== * /
/* ==== Стили для вкладок ==== */

.tabs {
    overflow: hidden;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 16px;
}

.tab-button:hover {
    background-color: #eee;
}

.tab-button.active {
    background-color: #ddd;
}

.tab-content.active {
    display: block;
}


/* ======= Styles for tab content ======== */
/* ==== Стили для содержимого вкладок ==== */

/* Content area container / Контейнер области контента */
.content-area {
    overflow: hidden;
    position: relative;
}

/* Tab area / Область вкладки */
.tab-content {
    display: none;
    padding: 0;
    height: 100%;
    overflow: auto;
}


/* ==== Common styles for CSS Grid on all tabs ==== */
/* ==== Общие стили для CSS Grid всех вкладок ===== */

/* Headers / Заголовки */
.header {
    padding: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

/* CSS Grid cell styles / Стили ячеек сетки CSS Grid */
.grid {
    padding: 7px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100%;
}

/* Scroll areas / Области прокрутки */
.scroll {
    overflow: auto;
}


/* ======= Styles for CSS Grid container for Telegram tab ======= */
/* ===== Стили для CSS Grid контейнера для вкладки Telegram ===== */

.tg-container-tab_1 {
    display: grid;
    grid-template-areas:
        "filter_h chat_h message_h detail_h"
        "filters chats action_bar details"
        "filters chats messages details"
        "save_to_db chats messages details";
    grid-template-columns: minmax(0, 15fr) minmax(0, 25fr) minmax(0, 30fr) minmax(0, 30fr);
    grid-template-rows: auto auto auto 1fr;
    min-height: 0;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.tg-filter_h { grid-area: filter_h; }
.tg-chat_h { grid-area: chat_h; }
.tg-message_h { grid-area: message_h; }
.tg-detail_h { grid-area: detail_h; }
.tg-filters { grid-area: filters; }
.tg-save_to_db { grid-area: save_to_db; }
.tg-chats { grid-area: chats; }
.tg-action_bar { grid-area: action_bar; }
.tg-messages { grid-area: messages; }
.tg-details { grid-area: details; }
/* @formatter:on */

.tg-filter-divider {
    height: 1px;
    background-color: #ddd;
    margin-top: 15px;
    margin-bottom: 7px;
    flex-shrink: 0;
}

.save_to_db_area_format {
    display: flex;
    align-items: center;
}


/* ======= Styles for CSS Grid container for Database tab ======= */
/* ===== Стили для CSS Grid контейнера для вкладки Database ===== */

.db-container-tab_2 {
    display: grid;
    grid-template-areas:
        "filters_h messages_h details_h tags_h"
        "filters action_bar details tags"
        "filters messages details tags";
    grid-template-columns: minmax(0, 15fr) minmax(0, 30fr) minmax(0, 40fr) minmax(0, 15fr);
    grid-template-rows: auto auto minmax(0, 1fr);
    min-height: 0;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.db-filters_h { grid-area: filters_h; }
.db-messages_h { grid-area: messages_h; }
.db-details_h { grid-area: details_h; }
.db-tags_h { grid-area: tags_h; }
.db-filters { grid-area: filters; }
.db-action_bar { grid-area: action_bar; }
.db-messages { grid-area: messages; }
.db-details { grid-area: details; }
.db-tags { grid-area: tags; }
/* @formatter:on */


/* ===== Action bars for selecting messages from a list ===== */
/* ===== Панели действий для выбора сообщений из списка ===== */

/* Action bar button / Кнопка панели действий */
.action-bar-button {
    width: 100%;
    margin: 2px 6px;
}

/* Location of the action bar button / Расположение кнопки панели действий */
.action-bar-button-area {
    display: flex;
    align-items: center;
}

/* CSS Grid layout of the action bar for selecting Telegram messages / CSS Grid разметки панели действий для выбора сообщений Telegram */
.tg-action-bar-grid {
    display: grid;
    grid-template-areas:
        "select deselect invertsel"
        "save_db save_db save_db";
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 0;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.tg-select { grid-area: select }
.tg-deselect { grid-area: deselect }
.tg-invert { grid-area: invertsel }
.tg-save_db { grid-area: save_db }
/* @formatter:on */

/* CSS Grid layout of the action bar for selecting database messages / CSS Grid разметки панели действий для выбора сообщений базы данных */
.db-action-bar-grid {
    display: grid;
    grid-template-areas:
        "select deselect deselect invertsel"
        "export export delete delete";
    grid-template-columns: 2fr 1fr 1fr 2fr;
    min-height: 0;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.db-select { grid-area: select }
.db-deselect { grid-area: deselect }
.db-invert { grid-area: invertsel }
.db-export { grid-area: export }
.db-delete { grid-area: delete }
/* @formatter:on */


/* ======= Status bar styles ======= */
/* ===== Стили строки статуса ====== */

/* CSS Grid for status bar / CSS Grid для строки статуса */
.status-bar-grid {
    display: grid;
    grid-template-columns: 45fr 55fr;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
    color: #555555;
    align-items: center;
    margin-top: var(--status-bar-padding);
    grid-template-areas:
        "operation report";
}

.status-section {
    padding: 5px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.status-section:first-child {
    border-right: 1px solid #bbb;
}


/* @formatter:off */
.sb_operation { grid-area: operation; }
.sb_report { grid-area: report; }
/* @formatter:on */


/* ======= SINGLE COMPONENTS ====== */
/* ===== ОТДЕЛЬНЫЕ КОМПОНЕНТЫ ===== */

/* Group label / Метка группы */
.group-label {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}

/* No indent from the top / Без отступа сверху */
.no-margin-top {
    margin-top: 0;
}

/* Top indent for tags / Отступ сверху для тегов */
.vertical-spread-detail-tags {
    margin-top: 15px;
}

/* Button for clearing the input or selection field / Кнопка очистки поля ввода или выбора */
.X-button {
    font-size: 0.75rem;
    height: 1.25rem;
    aspect-ratio: 1;
}

/* Input or selection field and button to clear this field / Поле ввода или выбора и кнопка очистки этого поля */
.control-X-button {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) max-content;
    gap: 5px;
    align-items: center;
}

/* One button in a cell / Одна кнопка в ячейке */
.button-in-cell {
    width: 100%;
    height: max-content;
}

/* CSS Grid markup for date pickers from and to / CSS Grid разметки для кнопок выбора дат от и до */
.date-from-to-buttons-grid {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    gap: 5px;
}

/* From and to date selection buttons / Кнопки выбора дат от и до */
.date-from-to-buttons {
    width: 110px;
}

/* Filter application buttons / Кнопки применения фильтров */
.apply-filters-buttons {
    width: 100%;
    margin-top: 10px;
}

/* Multi-line field for entering message tags for tag search / Многострочное поле для ввода тегов сообщений для поиска по тегам */
.filter_tags-textarea {
    width: 100%;
    resize: none;
    padding: 2px;
    border-radius: 4px;
}

/* Select element / Элемент выбора Select */
.select-element {
    padding: 2px;
    border-radius: 4px;
}


/* ===== Lists of dialogs and messages ===== */
/* ====== Списки диалогов и сообщений ====== */

/* General settings / Общие параметры */
.dialogs-messages-list {
    list-style-type: none;
    padding-left: 5px;
}

/* Odd alternating colored rows, white color / Нечетные чередующиеся цветные строки в списках, цвет белый */
.alternating-lines-white {
    padding-top: 9px;
    background-color: #ffffff;
}

/* Even alternating colored rows in lists, color gray / Четные чередующиеся цветные строки в списках, цвет серый */
.alternating-lines-gray {
    padding-top: 9px;
    background-color: #f5f5f5;
}

/* Checkbox for saving selected messages to the database or manipulating saved messages in the database
   Чекбокс сохранения выбранных сообщений в БД или манипуляций с сохраненными сообщениям в БД */
.message-checkbox {
    float: right;
}

/* Mark indicating the presence of a saved message in the database / Отметка о наличии сохраненного сообщения в БД */
.selected-message-checkbox {
    float: right;
    color: green;
}

/* Account owner's message style / Стиль сообщений владельца аккаунта */
.my-message-in-list {
    margin-left: 7%;
}


/* ====== Display or export message details ====== */
/* ===== Вывод или экспорт деталей сообщения ===== */

/* Style of the output area for graphic and video files / Стиль области вывода графических и видео файлов */
.media-files-area {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Media files are arranged in a single column / Медиафайлы расположены в одну колонку */
.media-files-one-column {
    width: 90%;
    height: 90vh;
}

/* Media files are arranged in two columns / Медиафайлы расположены в две колонки */
.media-files-two-column {
    width: 45%;
    height: 45vh;
}

/* Media file container / Контейнер для медиафайлов */
.media-files-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Output the file name in the export template / Вывод названия файла в шаблоне для экспорта */
.media-file-name {
    text-align: center;
    margin-top: 5px;
}
