/* ===== RESET/NORMALIZE ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/* ===== БАЗОВЫЕ ЭЛЕМЕНТЫ ===== */
html, body {
    margin: 1px;
    padding: 0;
    overflow: hidden;
}

/* ===== ПЕРЕМЕННЫЕ ===== */
:root {
    --tab-height: 55px; /* Высота панели вкладок */
}

/* ===== LAYOUT ===== */

/* Стили для вкладок */
.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

.tab-button:hover {
    background-color: #eee;
}

.tab-button.active {
    background-color: #ddd;
}

/* Стили для содержимого вкладок */
.tab-content {
    display: none;
    padding: 0;
    height: calc(100% - var(--tab-height)); /* Вычитаем высоту панели вкладок */
}

/* Общие стили для CSS Grid всех вкладок */

/* Заголовки */
.header {
    padding: 5px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

/* Сетка */
.grid {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Области прокрутки */
.scroll {
    padding: 0;
    overflow: auto;
}

/* Стили для CSS Grid контейнера и зон для вкладки Telegram */
.tg-container {
    display: grid;
    grid-template-areas:
        "filter_h chat_h message_h detail_h"
        "dialog_filters chats messages details"
        "message_filters chats messages details"
        "save_to_db chats messages details"
        "footer footer footer footer";
    grid-template-columns: 10fr 25fr 30fr 35fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.tg-filter_h { grid-area: filter_h; }
.tg-chat_h { grid-area: chat_h; }
.tg-message_h { grid-area: message_h; }
.tg-detail_h { grid-area: detail_h; }
.tg-dialog_filters { grid-area: dialog_filters; }
.tg-message_filters { grid-area: message_filters; }
.tg-save_to_db { grid-area: save_to_db; }
.tg-chats { grid-area: chats; }
.tg-messages { grid-area: messages; }
.tg-details { grid-area: details; }
.tg-footer { grid-area: footer; }
/* @formatter:on */

.save_to_db_area_format {
    display: flex;
    align-items: center;
}

/* Стили для CSS Grid контейнера и зон для вкладки Database */
.db-container {
    display: grid;
    grid-template-areas:
        "filters_h messages_h details_h"
        "filters message_list details"
        "footer1 footer2 footer3";
    grid-template-columns: 15fr 40fr 45fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.db-filters_h { grid-area: filters_h; }
.db-messages_h { grid-area: messages_h; }
.db-details_h { grid-area: details_h; }
.db-filters { grid-area: filters; }
.db-messages { grid-area: messages; }
.db-details { grid-area: details; }
.db-footer1 { grid-area: footer1; }
.db-footer2 { grid-area: footer2; }
.db-footer3 { grid-area: footer3; }
/* @formatter:on */

/* Стили для CSS Grid контейнера и зон для вкладки Service */
.container_tab_3 {
    display: grid;
    grid-template-areas:
        "cell_11 cell_12 cell_13"
        "cell_21 cell_22 cell_23"
        "cell_31 cell_32 cell_33";
    grid-template-columns: 300px 1fr 200px;
    grid-template-rows: max-content max-content max-content;
    height: 100%;
    gap: 5px;
}

/* @formatter:off */
.cell_11 { grid-area: cell_11; }
.cell_12 { grid-area: cell_12; }
.cell_13 { grid-area: cell_13; }
.cell_21 { grid-area: cell_21; }
.cell_22 { grid-area: cell_22; }
.cell_23 { grid-area: cell_23; }
.cell_31 { grid-area: cell_31; }
.cell_32 { grid-area: cell_32; }
.cell_33 { grid-area: cell_33; }
/* @formatter:on */


/* ===== КОМПОНЕНТЫ ===== */

/* Метка группы */
.group-label {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Кнопка очистки поля ввода или выбора */
.X-button {
    font-size: 0.75rem;
    height: 1.25rem;
    aspect-ratio: 1;
}

/* Поле и кнопка очистки поля ввода или выбора */
.control-X-button {
    display: grid;
    grid-template-columns: auto max-content;
    gap: 5px;
    align-items: center;
}

/* Одна кнопка в ячейке */
.button-in-cell {
    width: 100%;
    height: max-content;
}

/* Кнопки выбора дат от и до */
.date-from-to-buttons {
    display: grid;
    grid-template-columns: auto max-content max-content;
    align-items: center;
    gap: 5px;
}

/* Кнопки применения фильтров */
.apply-filters-buttons {
    width: 100%;
    margin-top: 10px;
}

/* Списки диалогов и сообщений */

/* Общие параметры */
.dialogs-messages-list {
    list-style-type: none;
    padding-left: 5px;
}

/* Нечетные чередующиеся цветные строки в списках, цвет белый */
.alternating-lines-white {
    padding-top: 9px;
    background-color: #ffffff;
}

/* Четные чередующиеся цветные строки в списках, цвет серый */
.alternating-lines-gray {
    padding-top: 9px;
    background-color: #f5f5f5;
}

/* Чекбокс сохранения выбранных сообщений в БД или манипуляций с сохраненными сообщениям в БД */
.message-checkbox {
    float: right;
}

/* Отметка о наличии сохраненного сообщения в БД */
.saved-message-checkbox {
    float: right;
    color: green;
}

/* Вывод или экспорт деталей сообщения */

/* Форматирование области вывода графических и видео файлов */
.media-files-area {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Медиафайлы в одну колонку */
.media-files-one-column {
    width: 90%;
    height: 90vh;
}

/* Медиафайлы в две колонки */
.media-files-two-column {
    width: 45%;
    height: 45vh;
}

/* Контейнер для медиафайлов */
.media-files-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Вывод названия файла */
.media-file-name {
    text-align: center;
    margin-top: 5px;
}