<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Viewer</title>
    <script src="{{ url_for('static', filename='js/htmx.min.1.9.12.js') }}"></script>
</head>

<body>
<table style="width: 100%; border: 1px solid black;">
    <tr>
        <td id="dialogs" style="text-align: center; width:33%; border: 1px solid black;">
            <h3>Chats</h3>
        </td>
        <td id="messages" style="text-align: center; width:33%; border: 1px solid black;">
            <h3>Messages</h3>
        </td>
        <td id="details" style="text-align: center; width:33%; border: 1px solid black;">
            <h3>Message Details</h3>
        </td>
    </tr>
</table>

<table style="width: 100%; border: 1px solid black;">
    <tr>
        <td id="dialogs" style="width:33%; border: 1px solid black;">
            {#  Dialogs Column  #}
            {% include "dialogs.html" %}
        </td>
        <td id="messages" style="width:33%; border: 1px solid black;">
            {#  Messages Column  #}
            <div id="result-div"></div>
        </td>
        <td id="details" style="width:33%; border: 1px solid black;">
            {#  Message Details Column  #}
            <div id="result-div2"></div>
        </td>
    </tr>
</table>
</body>
</html>
