<!-- Шаблон панели действий выбора сообщений базы данных -->

<!-- Конфигурация элементов управления формы -->
{% set form_cfg = form_btn_cfg.db_checkbox_list %}

<div class="db-action-bar-grid">
    <div class="db-select action-bar-button-area">
        {# Apply to select all messages #}
        <button type="button" class="action-bar-button"
                onclick="selectAllCB('.db-message-checkbox', 'db-messages-count');">
            Select all
        </button>
    </div>
    <div class="db-deselect action-bar-button-area">
        {# Apply to deselect all messages #}
        <button type="button" class="action-bar-button"
                onclick="deSelectAllCB('.db-message-checkbox', 'db-messages-count');">
            Deselect all
        </button>
    </div>
    <div class="db-invert action-bar-button-area">
        {# Apply to invert selection for all messages #}
        <button type="button" class="action-bar-button"
                onclick="invertSelectionCB('.db-message-checkbox', 'db-messages-count');">
            Invert selection
        </button>
    </div>
    <div class="db-export action-bar-button-area">
        {# Apply to export selected messages to HTML #}
        <button class="action-bar-button"
                onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_export_selected_message_to_html')">
            Export selection to HTML
        </button>
    </div>
    <div class="db-delete action-bar-button-area">
        {# Apply to delete selected messages from the database #}
        <button class="action-bar-button"
                onclick="deleteSelectedButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_delete_selected_from_database')">
            Delete selection from the database
        </button>
    </div>
</div>