<!-- Шаблон с опциями детальной информации сообщений базы данных -->

<style>
    .vertical-spread {
        margin-top: 15px;
    }
</style>

{# Конфигурация элементов управления формы #}
{% set form_cfg = form_btn_cfg.db_detail_tags %}

<!-- Current message tag list -->
<label for="{{ form_cfg.curr_message_tags }}" class="group-label no-margin-top">Message Tags</label>
<div class="control-X-button">
    <select id="{{ form_cfg.curr_message_tags }}" name="{{ form_cfg.curr_message_tags }}" size="6"
            onchange="document.getElementById('{{ form_cfg.edit_tag_name }}').value = this.options[this.selectedIndex].text">
    </select>
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.curr_message_tags }}', '{{ form_cfg.edit_tag_name }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Edit tag name -->
<label for="{{ form_cfg.edit_tag_name }}" class="group-label vertical-spread">Edit Tag Name</label>
<div class="control-X-button">
    <input type="text" id="{{ form_cfg.edit_tag_name }}" name="{{ form_cfg.edit_tag_name }}">
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.edit_tag_name }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Add a tag to a message -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_add')">
    Add tag
</button>

<!-- Remove tag -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_remove')">
    Remove tag
</button>

<!-- Update tag -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_update')">
    Update tag
</button>

<!-- Update all tags -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_update_everywhere')">
    Update tag everywhere
</button>

<!-- All tags sorting -->
<label for="{{ form_cfg.all_detail_tags }}" class="group-label vertical-spread">All tags</label>

<form onchange="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_all_tag_sorting')">
    <div>
        <input type="radio" id="db_tag_sort_field_0" name="db_tag_sort_field" value="0" checked>
        <label for="db_tag_sort_field_0">Sort by name</label><br>
        <input type="radio" id="db_tag_sort_field_1" name="db_tag_sort_field" value="1">
        <label for="db_tag_sort_field_1">Sort by usage count</label><br>
        <input type="radio" id="db_tag_sort_field_2" name="db_tag_sort_field" value="2">
        <label for="db_tag_sort_field_2">Sort by last update</label><br>
    </div>
</form>

<!-- All tags list -->
<div class="control-X-button vertical-spread">
    <select id="{{ form_cfg.all_detail_tags }}" name="{{ form_cfg.all_detail_tags }}" size="6"
            onchange="document.getElementById('{{ form_cfg.edit_tag_name }}').value = this.options[this.selectedIndex].text">
        {% for db_tag in db_all_tags %}
            <option value="{{ db_tag.id }}">{{ db_tag.name }}</option>
        {% endfor %}
    </select>
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.all_detail_tags }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>
