<!-- Шаблон с опциями детальной информации сообщений базы данных -->

<style>
    .vertical-spread {
        margin-top: 15px;
    }
</style>

{# Конфигурация элементов управления формы #}
{% set form_cfg = form_btn_cfg.db_detail_tags %}

{# Скрытый элемент, сохраняющий значение тега, переданного из SELECT в поле для редактирования #}
<input type="hidden" id="{{ form_cfg.old_tag_name }}" name="{{ form_cfg.old_tag_name }}" value="">

<!-- Current message tag list -->
<label for="{{ form_cfg.curr_message_tags }}" class="group-label no-margin-top">Message Tags</label>
<div class="control-X-button">
    <select class="select-element"
            id="{{ form_cfg.curr_message_tags }}"
            name="{{ form_cfg.curr_message_tags }}"
            title="Select a tag for actions"
            size="6"
            onchange="document.getElementById('{{ form_cfg.edit_tag_name }}').value = this.options[this.selectedIndex].text;
                    document.getElementById('{{ form_cfg.old_tag_name }}').value = this.options[this.selectedIndex].text;">
    </select>
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.curr_message_tags }}', '{{ form_cfg.edit_tag_name }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Edit tag name -->
<label for="{{ form_cfg.edit_tag_name }}" class="group-label vertical-spread">Edit Tag Name</label>
<div class="control-X-button">
    <input type="text" id="{{ form_cfg.edit_tag_name }}" name="{{ form_cfg.edit_tag_name }}">
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.edit_tag_name }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Add a tag to a message -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_add');">
    Add tag
</button>

<!-- Remove tag -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_remove')">
    Remove tag
</button>

<!-- Update tag -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_update');
                clearFormFields(['{{ form_cfg.edit_tag_name }}'])">
    Update tag
</button>

<!-- Update all tags -->
<button class="apply-filters-buttons vertical-spread"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_tag_update_everywhere');
                clearFormFields(['{{ form_cfg.edit_tag_name }}'])">
    Update tag everywhere
</button>

<!-- All tags sorting -->
<label for="{{ form_cfg.all_detail_tags }}" class="group-label vertical-spread">All tags</label>

<form onchange="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_all_tag_sorting')">
    <div id="{{ form_cfg.tag_sorting_field }}">
        <input type="radio" id="db_tag_sort_field_0" name="{{ form_cfg.tag_sorting_field }}" value="0" checked>
        <label for="db_tag_sort_field_0">Sort by name</label><br>
        <input type="radio" id="db_tag_sort_field_1" name="{{ form_cfg.tag_sorting_field }}" value="1">
        <label for="db_tag_sort_field_1">Sort by usage count</label><br>
        <input type="radio" id="db_tag_sort_field_2" name="{{ form_cfg.tag_sorting_field }}" value="2">
        <label for="db_tag_sort_field_2">Sort by last update</label><br>
    </div>
</form>

<!-- All tags list -->
<div class="control-X-button vertical-spread">
    <select class="select-element"
            id="{{ form_cfg.all_detail_tags }}"
            name="{{ form_cfg.all_detail_tags }}"
            title="Select a tag for actions"
            size="6"
            onchange="document.getElementById('{{ form_cfg.edit_tag_name }}').value = this.options[this.selectedIndex].text;
                    document.getElementById('{{ form_cfg.old_tag_name }}').value = this.options[this.selectedIndex].text;">
        {% for db_tag in db_all_tags %}
            <option value="{{ db_tag.id }}">{{ db_tag.name }}</option>
        {% endfor %}
    </select>
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.all_detail_tags }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Adding a tag to the tag filter -->
<button class="apply-filters-buttons vertical-spread"
        onclick="addTagToFilterFromAllTags('{{ form_cfg.all_detail_tags }}',
                '{{ form_btn_cfg.db_message_filter.tag_query }}',
                separator = '{{ constants.tag_filter_separator }}')">
    ←&nbsp; Add tag to filter by tags
</button>
