<!-- Шаблон детальной информации сообщения Telegram -->

{% if db_details %}
    {% set group = db_details.message_group_id %}
    {# Скрытый элемент, возвращающий grouped_id соответствующей группы сообщений для деталей #}
    <input type="hidden" name="{{ constants.mess_group_id+'_det = '+group }}"
           value="{{ db_details.message_group_id }}">
    {% set message_date = db_details.date.strftime(constants.message_datetime_format) %}
    <div style="text-align: center;">
        {# Вывод метки от сохранении в БД или чекбокса для отметки на сохранение #}
        {% if db_details.saved_to_db %}
            <span class="saved-message-checkbox">{{ constants.saved_to_db_label }}</span>
        {% else %}
            <span class="message-checkbox">
                    {# Создание чекбокса для отметки на сохранение в БД #}
                    {% set checkbox_name = constants.select_to_save+'_det = '+group %}
                    <input type="checkbox" name="{{ checkbox_name }}"
                           hx-post="/select_details_to_save"
                           hx-trigger="change"
                           hx-include="input[name='{{ constants.mess_group_id+'_det = '+group }}'],
                                       input[name='{{ checkbox_name }}'],">
                    <label for="{{ checkbox_name }}">{{ constants.save_to_db_label }}</label>
                </span>
        {% endif %}
        <br>
        {# Вывод даты сообщения #}
        <b>{{ message_date }}</b>
        {# Вывод заголовка диалога #}
        <br>
        {{ db_details.dialog_title }}
    </div>
    {# Вывод тегов сообщения #}
    {% if db_details.tags %}
        <div class="tags-area">
            <span class="tags-label">Tags:</span>
            {% for tag in db_details.tags %}
                <span class="tags-label">tag.name</span>
                <br>
            {% endfor %}
        </div>
    {% endif %}
    {# Вывод текста сообщения #}
    {% if db_details.text %}
        <br>
        {{ db_details.text|replace('\n', '<br>')|safe }}
    {% endif %}
    {# Вывод графических, видео и других файлов #}
    {% if db_details.existing_files %}
        <br>
        <div class="media-files-area">
            {% for message_file in db_details.existing_files %}
                {{ message_file.alt_text }}
                <div class="{% if db_details.existing_files|length > 1 %} media-files-two-column
                                {% else %} media-files-one-column {% endif %}">
                    {# Вывод графических файлов #}
                    {% if message_file.file_type.alt_text==file_types.IMAGE.alt_text %}
                        <img src="{{ url_for('media_dir', filename=message_file.file_path) }}"
                             alt="{{ message_file.alt_text }}" class="media-files-container">
                    {% endif %}
                    {# Вывод видео файлов #}
                    {% if message_file.file_type.alt_text==file_types.VIDEO.alt_text %}
                        <video src="{{ url_for('media_dir', filename=message_file.file_path) }}"
                               controls preload="metadata" class="media-files-container">
                            Video is not supported by your browser
                        </video>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {# Вывод тегов сообщения в соответствующее поле четвертой колонки #}
    <div hx-swap-oob="innerHTML:#this_message_tags">
        {{ db_details.tags_string }}
    </div>

{% else %}

{% endif %}
