{# Шаблон детальной информации сообщения Telegram #}

{% if db_details %}
    {% set group = db_details.message_group_id %}
    {% set message_date = db_details.date.strftime(constants.message_datetime_format) %}
    {% set message_grouped_id = constants.mess_group_id+'_det = '+group %}
    {# Скрытый элемент, возвращающий grouped_id соответствующей группы сообщений для деталей #}
    <input type="hidden" name="{{ message_grouped_id }}" value="{{ db_details.message_group_id }}">
    <div style="text-align: center;">
        {# Вывод даты сообщения #}
        <b>{{ message_date }}</b>
        {# Вывод начала названия диалога #}
        <span style="color: #777777">&nbsp;&nbsp;|&nbsp;&nbsp; {{ db_details.dialog_title|safe|truncate(constants.truncated_title_length) }}</span>
        {# Вывод метки от сохранении в БД или чекбокса для отметки на сохранение #}
        {% if db_details.saved_to_db %}
            <span class="selected-message-checkbox">{{ constants.checked_in_db_label }}</span>
        {% endif %}
    </div>
    {# Вывод текста сообщения #}
    {% if db_details.text %}
        <br>
        {{ db_details.text|replace('\n', '<br>')|safe }}
    {% endif %}
    {# Вывод графических, видео и других файлов #}
    {% if db_details.existing_files %}
        <br>
        <div class="media-files-area">
            {% for message_file in db_details.existing_files %}
                {{ message_file.alt_text }}
                <div class="{% if db_details.existing_files|length > 1 %} media-files-two-column
                                {% else %} media-files-one-column {% endif %}">
                    {# Вывод графических файлов #}
                    {% if message_file.file_type.alt_text==tg_file_types.IMAGE.alt_text %}
                        <img src="{{ url_for('media_dir', filename=message_file.file_path) }}"
                             alt="{{ message_file.alt_text }}" class="media-files-container">
                    {% endif %}
                    {# Вывод видео файлов #}
                    {% if message_file.file_type.alt_text==tg_file_types.VIDEO.alt_text %}
                        <video src="{{ url_for('media_dir', filename=message_file.file_path, _external=True) }}"
                               controls preload="metadata" class="media-files-container">
                            Video is not supported by your browser
                        </video>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% else %}

{% endif %}
