<!-- Шаблон информации о группе сообщений в списке сообщений выбранного диалога базы данных -->

{# Вывод списка групп сообщений из базы данных #}
<ul class="dialogs-messages-list">
    {% for db_message in db_messages %}
        {% set message_grouped_id = constants.mess_group_id+'_mess = '+db_message.grouped_id %}
        {# Скрытый элемент, возвращающий grouped_id соответствующей группы сообщений #}
        <input type="hidden" name="{{ message_grouped_id }}" value="{{ db_message.grouped_id }}">
        {# Стиль чередования фонов групп сообщений  #}
        <li class="{{ loop.cycle('alternating-lines-white', 'alternating-lines-gray') }}">
            {# Формирование даты и времени сообщения как ссылки #}
            {% set message_date = db_message.date.strftime(constants.message_datetime_format) %}
            {# Ссылка на детали сообщения для загрузки #}
            <a href="/db_details/{{ db_message.grouped_id }}"
               onclick="loadURL('{{ url_for('db_get_details', message_group_id=db_message.grouped_id) }}'); return false;">
                {{ message_date }}</a>
            {# Вывод начала названия диалога #}
            <span style="color: #777777">&nbsp;&nbsp;|&nbsp;&nbsp; {{ db_message.dialog.title|truncate(25) }}</span>
            {# Вывод метки от сохранении в БД или чекбокса для отметки на сохранение #}
            {% if db_message.saved_to_db %}
                <span class="saved-message-checkbox">{{ constants.checked_in_db_label }}</span>
            {% else %}
                {# Создание чекбокса для отметки на сохранение в БД #}
                <span class="message-checkbox">
                    {% set checkbox_name = constants.select_to_save+'_mess = '+db_message.grouped_id %}
                    <input type="checkbox"
                           id="{{ checkbox_name }}" name="{{ checkbox_name }}"
                           onchange="handleCheckbox(this, '{{ message_grouped_id }}', '/db_select_messages')">
                    <label for="{{ checkbox_name }}">{{ constants.check_in_db_label }}</label>
                </span>
            {% endif %}
            {# Вывод обрезанного текста #}
            {% if db_message.text %}
                <br>
                {{ db_message.text|replace('\n\n', '<br>')|replace('\n', '<br>')|safe|truncate(175) }}
            {% endif %}
            {# Вывод строки информации о файлах в группе сообщений #}
            {% if db_message.files_report %}
                <br>
                <b>{{ db_message.files_report }}</b>
            {% endif %}
            <br>
        </li>
    {% endfor %}
</ul>
