<!-- Шаблон для фильтрации диалогов в базе данных -->

{# Конфигурация элементов управления формы #}
{% set form_cfg = form_btn_cfg.db_message_filter %}

<!-- Database dialog filter -->
<label for="{{ form_cfg.dialog_select }}" class="group-label no-margin-top">Filter by chat names</label>
<div class="control-X-button">
    <select id="{{ form_cfg.dialog_select }}" name="{{ form_cfg.dialog_select }}" size="6" multiple>
        {% for db_dialog in db_all_dialog_list %}
            <option value="{{ db_dialog.dialog_id }}">{{ db_dialog.title }}</option>
        {% endfor %}
    </select>
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.dialog_select }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Database messages sort field radiobuttons -->
<p class="group-label">Messages sorting field</p>
<div id="{{ form_cfg.sorting_field }}">
    <input type="radio" id="db_mess_sort_field_0" name="{{ form_cfg.sorting_field }}" value="0" checked>
    <label for="db_mess_sort_field_0">Sort by date</label><br>
    <input type="radio" id="db_mess_sort_field_1" name="{{ form_cfg.sorting_field }}" value="1">
    <label for="db_mess_sort_field_1">Sort by chat name</label>
</div>

<!-- Database messages sort order radiobuttons -->
<p class="group-label">Messages sort order</p>
<div id="{{ form_cfg.sorting_order }}">
    <input type="radio" id="db_mess_reverse_0" name="{{ form_cfg.sorting_order }}" value="0">
    <label for="db_mess_reverse_0">Ascending</label><br>
    <input type="radio" id="db_mess_reverse_1" name="{{ form_cfg.sorting_order }}" value="1" checked>
    <label for="db_mess_reverse_1">Descending</label>
</div>

<!-- Filter database messages by date -->
<p class="group-label">Filter by message date</p>
<div class="date-from-to-buttons-grid">
    <!-- Filtering by date from -->
    <label for="{{ form_cfg.date_from }}">Date from:</label>
    <input type="date" class="date-from-to-buttons"
           id="{{ form_cfg.date_from }}"
           name="{{ form_cfg.date_from }}"
           min="2013-01-01"
           placeholder="DD/MM/YYYY">
    <!-- Filtering by date to -->
    <label for="{{ form_cfg.date_to }}">Date to:</label>
    <input type="date" class="date-from-to-buttons"
           id="{{ form_cfg.date_to }}"#}
           name="{{ form_cfg.date_to }}"
           min="2013-01-01"
           placeholder="DD/MM/YYYY">
</div>

<!-- Filtering database messages by message text -->
<label for="{{ form_cfg.message_query }}" class="group-label">Filter by message text</label>
<div class="control-X-button">
    <input type="text"
           id="{{ form_cfg.message_query }}"
           name="{{ form_cfg.message_query }}"
           placeholder="Message text fragment">
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.message_query }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Filtering database messages by tags -->
<label for="{{ form_cfg.tag_query }}" class="group-label">Filter by tags</label>
<div class="control-X-button">
    <textarea rows="5"
           id="{{ form_cfg.tag_query }}"
           name="{{ form_cfg.tag_query }}"
           placeholder="Message text fragment">
        Placeholder text
    </textarea>
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.tag_query }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Apply database message filters button -->
<button class="apply-filters-buttons"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/db_message_apply_filters')">
    Apply message filters
</button>
