<!-- Шаблон для экспорта на накопитель сохраненного в БД сообщения Telegram -->

<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <title>{{ message_date }} {{ dialog_title }}</title>
</head>
<body>
<span>
        <div style="text-align: center;">
            <b>{{ message_date }}</b><br>{{ dialog_title }}
        </div>
        <br>
        {# Вывод текста сообщения #}
        {{ text|replace('\n', '<br>')|safe }}
        <br>
        {# Вывод графических, видео и других файлов #}
        <br>
        <div class="media-files-area">
            {% for message_file in files %}
                <div class="{% if files|length>1 %} media-files-two-column {% else %} media-files-one-column {% endif %}">
                    {% if message_file.alt_text==tg_file_types.IMAGE.alt_text %}
                        <img class="media-files-container"
                             src="{{ message_file.file_path }}" alt="{{ message_file.alt_text }}">
                    {% endif %}
                    {% if message_file.alt_text==tg_file_types.VIDEO.alt_text %}
                        <video class="media-files-container"
                               src="{{ message_file.file_name }}" controls preload="metadata">
                        Video is not supported by your browser
                        </video>
                    {% endif %}
                    {# Вывод имени файла #}
                    <div class="media-file-name">
                        {{ message_file.file_name }}
                    </div>
                </div>
            {% endfor %}
        </div>
</span>

</body>
</html>