<!-- Главный шаблон приложения -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Telegram Saver</title>
    <meta charset="UTF-8">
    {# Для мобильных устройств #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Подключение htmx #}
    <script src="{{ url_for('static', filename='js/htmx.min.2.0.4.js') }}"></script>
    {# Подключение class-tools для htmx #}
    <script src="{{ url_for('static', filename='js/class-tools.js') }}"></script>
    {# Подключение стилей #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- Кнопки вкладок -->
<div class="tabs">
    <button class="tab-button active" onclick="openTab(event, 'tab1')">Telegram</button>
    <button class="tab-button" onclick="openTab(event, 'tab2')">Database</button>
    <button class="tab-button" onclick="openTab(event, 'tab3')">Service</button>
</div>

<!-- Содержимое вкладок -->

<div id="tab1" class="tab-content" style="display: block;">
    {# Страница сообщений Телеграм #}

    <div class="tg-container-tab_1">
        <div class="header tg-filter_h">Filters</div>
        <div class="header tg-chat_h">
            Chats
            <span id="tg-chats-count">{{ chats_count }} </span>
        </div>
        <div class="header tg-message_h">
            Messages
            <span id="tg-messages-count"> </span>
        </div>
        <div class="header tg-detail_h">
            Message Details
        </div>
        <div class="grid tg-dialog_filters">
            {% include "tg_dialog_filter.html" %}
        </div>
        <div class="grid tg-message_filters">
            {% include "tg_message_filter.html" %}
        </div>
        <div class="grid tg-save_to_db save_to_db_area_format">
            <button class="button-in-cell" onclick="callHandler('/save_selected_message_to_db')">
                Save selected to the DB
            </button>
        </div>
        <div class="scroll tg-chats">
            <div class="grid content" id="tg_dialogs">
                {# Вывод списка диалогов Telegram #}
                {% if tg_dialogs %}
                    {% include "tg_dialogs.html" %}
                {% endif %}
            </div>
        </div>
        <div class="scroll tg-messages">
            <div class="grid content" id="tg_messages">
                {# Вывод списка групп сообщений Telegram #}
                {% if tg_messages %}
                    {% include "tg_messages.html" %}
                {% endif %}
            </div>
        </div>
        <div class="scroll tg-details">
            <div class="grid content" id="tg_details">
                {% if tg_details %}
                    {% include "tg_details.html" %}
                {% endif %}
            </div>
        </div>
        <div class="grid tg-footer" id="tg-footer">footer (in development)</div>
    </div>
</div>

<div id="tab2" class="tab-content">
    {# Страница сообщений Database #}

    <div class="db-container-tab_2">
        <div class="header db-filters_h">Filters</div>
        <div class="header db-messages_h">
            Messages
            <span id="db-messages-count"></span>
        </div>
        <div class="header db-details_h"> Message details</div>
        <div class="header db-tags_h"> Tags</div>
        <div class="grid db-filters">
            {% include "db_message_filter.html" %}
        </div>
        <div class="scroll db-messages">
            <div class="grid content" id="db_messages">
                {% if db_messages %}
                    {% set context = db_messages %}
                    {% include "db_messages.html" with context %}
                {% endif %}
            </div>
        </div>
        <div class="scroll db-details">
            <div class="grid content" id="db_details">
                {% set context = db_details %}
                {% include "db_details.html" with context %}
            </div>
        </div>
        <div class="grid db-tags">
            {% include "db_detail_tags.html" %}
        </div>
        <div class="grid db-footer1">Footer 1</div>
        <div class="grid db-footer2">Footer 2</div>
        <div class="grid db-footer3">Footer 3</div>
        <div class="grid db-footer4">Footer 4</div>
    </div>
</div>

<div id="tab3" class="tab-content">
    {# Страница сервисных функций #}

    <div class="container_tab_3">
        <div class="grid cell_11" id="synchronize_files">
            {% include "synchronize_files.html" %}
        </div>
        <div class="grid cell_12">cell_12</div>
        <div class="grid cell_13">cell_13</div>
        <div class="grid cell_21">cell_21</div>
        <div class="grid cell_22">cell_22</div>
        <div class="grid cell_23">cell_23</div>
        <div class="grid cell_31">cell_31</div>
        <div class="grid cell_32">cell_32</div>
        <div class="grid cell_33">cell_33</div>
    </div>

</div>

{# Подключение своих функций JavaScript #}
<script src="{{ url_for('static', filename='js/my_scripts.js') }}"></script>
<!-- Проверка успешной загрузки -->

</body>
</html>