<!-- Главный шаблон приложения -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Telegram Saver</title>
    <meta charset="UTF-8">
    {# Для мобильных устройств #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Подключение стилей #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<div class="main-container">
    {# Панель вкладок #}
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'tab1')">Telegram</button>
        <button class="tab-button" onclick="openTab(event, 'tab2')">Database</button>
        {#        <button class="tab-button" onclick="openTab(event, 'tab3')">Test tab</button>#}
    </div>

    {# Область контента - просто контейнер #}
    <div class="content-area">

        {# Содержимое вкладок #}

        <div id="tab1" class="tab-content" style="display: block;">
            {# Страница сообщений Телеграм #}

            <div class="tg-container-tab_1">
                <div class="header tg-filter_h">Filters</div>
                <div class="header tg-chat_h">Chats&nbsp;<span id="tg-chats-count">{{ chats_count }}</span></div>
                <div class="header tg-message_h">Messages&nbsp;<span id="tg-messages-count"></span></div>
                <div class="header tg-detail_h">Message Details</div>
                <div class="grid tg-filters">
                    <div>{% include "tg_dialog_filter.html" %}</div>
                    <div class="tg-filter-divider"></div>
                    <div>{% include "tg_message_filter.html" %}</div>
                </div>
                <div class="grid tg-save_to_db save_to_db_area_format">
                    {# Apply to synchronize local files with database #}
                    <button id="synchronize_files" class="button-in-cell"
                            onclick="callHandler('/sync_local_files_with_db')">
                        Synchronize local files with DB
                    </button>
                </div>
                <div class="tg-chats">
                    <div class="grid scroll" id="tg_dialogs">
                        {# Вывод списка диалогов Telegram #}
                        {% if tg_dialogs %}
                            {% include "tg_dialogs.html" %}
                        {% endif %}
                    </div>
                </div>
                <div class="grid">
                    {% include "tg_action_bar.html" %}
                </div>
                <div class="tg-messages">
                    <div class="grid scroll" id="tg_messages">
                        {# Вывод списка групп сообщений Telegram #}
                        {% if tg_messages %}
                            {% include "tg_messages.html" %}
                        {% endif %}
                    </div>
                </div>
                <div class="tg-details">
                    <div class="grid scroll" id="tg_details">
                        {% if tg_details %}
                            {% include "tg_details.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="tab2" class="tab-content">
            {# Страница сообщений Database #}

            <div class="db-container-tab_2">
                <div class="header db-filters_h"> Filters</div>
                <div class="header db-messages_h">Messages&nbsp;<span id="db-messages-count"></span></div>
                <div class="header db-details_h">Message details</div>
                <div class="header db-tags_h">Tags</div>
                <div class="grid db-filters">
                    {% include "db_filters.html" %}
                </div>
                <div class="grid db-action-bar">
                    {% include "db_action_bar.html" %}
                </div>
                <div class="db-messages">
                    <div class="grid scroll" id="db_messages">
                        {# Вывод списка групп сообщений из базы данных #}
                        {% if db_messages %}
                            {% set context = db_messages %}
                            {% include "db_messages.html" with context %}
                        {% endif %}
                    </div>
                </div>
                <div class="db-details">
                    <div class="grid scroll" id="db_details">
                        {% if db_details %}
                            {% set context = db_details %}
                            {% include "db_details.html" with context %}
                        {% endif %}
                    </div>
                </div>
                <div class="grid db-tags">
                    {% include "db_detail_tags.html" %}
                </div>
            </div>
        </div>

        {#        <div id="tab3" class="tab-content">#}
        {# Страница сервисных функций #}
        {##}
        {#            <div class="container_tab_3">#}
        {#                <div class="grid cell_11">cell_11</div>#}
        {#                <div class="grid cell_12">cell_12</div>#}
        {#                <div class="grid cell_13">cell_13</div>#}
        {#                <div class="grid cell_21">cell_21</div>#}
        {#                <div class="grid cell_22">cell_22</div>#}
        {#                <div class="grid cell_23">cell_23</div>#}
        {#                <div class="grid cell_31">cell_31</div>#}
        {#                <div class="grid cell_32">cell_32</div>#}
        {#                <div class="grid cell_33">cell_33</div>#}
        {#            </div>#}
        {#        </div>#}

    </div>

    {# Независимая строка статуса с собственным Grid #}

    <div class="status-bar-grid">
        <div id="sb_operation" class="status-section">
            <strong>Operation: </strong>
        </div>
        <div class="status-section">
            <label for="sb_report"><strong>Report:</strong></label>
            <select id="sb_report" style="width: 100%;">
            </select>
        </div>
    </div>
</div>

{# Подключение своих функций JavaScript #}
<script src="{{ url_for('static', filename='js/my_scripts.js') }}"></script>
<!-- Проверка успешной загрузки -->

</body>
</html>