<!-- Главный шаблон приложения -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Telegram Saver</title>
    <meta charset="UTF-8">
    {# Для мобильных устройств #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Подключение htmx #}
    <script src="{{ url_for('static', filename='js/htmx.min.2.0.4.js') }}"></script>
    {# Подключение class-tools для htmx #}
    <script src="{{ url_for('static', filename='js/class-tools.js') }}"></script>
    {# Подключение стилей #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<!-- Кнопки вкладок -->
<div class="tabs">
    <button class="tab-button active" onclick="openTab(event, 'tab1')">Telegram</button>
    <button class="tab-button" onclick="openTab(event, 'tab2')">Database</button>
    <button class="tab-button" onclick="openTab(event, 'tab3')">Service</button>
</div>

<!-- Содержимое вкладок -->

<div id="tab1" class="tab-content" style="display: block;">
    {# Страница сообщений Телеграм #}

    <div class="tg-container-tab_1">
        <div class="header tg-filter_h">Filters</div>
        <div class="header tg-chat_h">
            Chats (<span id="tg-chats-count">{{ tg_dialogs|length }}</span>)
        </div>
        <div class="header tg-message_h">
            Messages
            {% if tg_messages|length > 0 %}
                (<span id="tg-messages-count">{{ tg_messages|length }}</span>)
            {% endif %}
        </div>
        <div class="header tg-detail_h">
            Message Details
        </div>
        <div class="grid tg-dialog_filters">
            {% include "tg_dialog_filter.html" %}
        </div>
        <div class="grid tg-message_filters">
            {% include "tg_message_filter.html" %}
        </div>
        <div class="grid tg-save_to_db save_to_db_area_format">
            <button class="button-in-cell"
                    hx-post="/save_selected_message_to_db"
                    hx-target="#button_target">
                Save selected to the DB
            </button>
            <div id="button_target"></div>
        </div>
        <div class="scroll tg-chats">
            <div class="grid content" id="tg_dialogs">
                {% set context = tg_dialogs %}
                {% include "tg_dialogs.html" with context %}
            </div>
        </div>
        <div class="scroll tg-messages">
            <div class="grid content" id="tg_messages">
                {% if tg_messages %}
                    {% set context = tg_messages %}
                    {% include "tg_messages.html" with context %}
                {% endif %}
            </div>
        </div>
        <div class="scroll tg-details">
            <div class="grid content" id="tg_details">
                {% set context = tg_details %}
                {% include "tg_details.html" with context %}
            </div>
        </div>
        <div class="grid tg-footer" id="tg-footer">footer (in development)</div>
    </div>
</div>

<div id="tab2" class="tab-content">
    {# Страница сообщений Database #}

    <div class="db-container-tab_2">
        <div class="header db-filters_h">Filters</div>
        <div class="header db-messages_h">
            Messages
            {% if db_messages|length > 0 %}
                (<span id="db-messages-count">{{ db_messages|length }}</span>)
            {% endif %}
        </div>
        <div class="header db-details_h">
            Message details
        </div>
        <div class="grid db-filters">
            {% include "db_message_filter.html" %}
        </div>
        <div class="scroll db-messages">
            <div class="grid content" id="db_messages">
                {% if db_messages %}
                    {% set context = db_messages %}
                    {% include "db_messages.html" with context %}
                {% endif %}
            </div>
        </div>
        <div class="scroll db-details">
            <div class="grid content" id="db_details">
                {% set context = db_details %}
                {% include "db_details.html" with context %}
            </div>
        </div>
        <div class="grid db-marks">
            {% include "db_details_options.html" %}
        </div>
        <div class="grid db-footer1">Footer 1</div>
        <div class="grid db-footer2">Footer 2</div>
        <div class="grid db-footer3">Footer 3</div>
    </div>
</div>

<div id="tab3" class="tab-content">
    {# Страница сервисных функций #}

    <div class="container_tab_3">
        <div class="grid cell_11" id="synchronize_files">
            {% include "synchronize_files.html" %}
        </div>
        <div class="grid cell_12">cell_12</div>
        <div class="grid cell_13">cell_13</div>
        <div class="grid cell_21">cell_21</div>
        <div class="grid cell_22">cell_22</div>
        <div class="grid cell_23">cell_23</div>
        <div class="grid cell_31">cell_31</div>
        <div class="grid cell_32">cell_32</div>
        <div class="grid cell_33">cell_33</div>
    </div>

</div>

<script>
    function openTab(evt, tabName) {
        // Скрываем все содержимое вкладок
        var tabContents = document.getElementsByClassName("tab-content");
        for (var i = 0; i < tabContents.length; i++) {
            tabContents[i].style.display = "none";
        }

        // Убираем класс "active" со всех кнопок вкладок
        var tabButtons = document.getElementsByClassName("tab-button");
        for (var i = 0; i < tabButtons.length; i++) {
            tabButtons[i].className = tabButtons[i].className.replace(" active", "");
        }

        // Показываем текущую вкладку и добавляем класс "active" к кнопке
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
</body>
</html>