{#
Displays the Telegram message selection action bar.
Variables:
  - form_cfg: configuration of form controls for filter processing
#}


{# Form control configuration / Конфигурация элементов управления формы #}
{% set form_cfg = form_ctrl_cfg.tg_checkbox_list %}


<div class="tg-action-bar-grid">

    <div class="tg-select action-bar-button-area">
        {# Select all messages / Выбрать все сообщения #}
        <button type="button" class="action-bar-button"
                onclick="selectAllCB('.tg-message-checkbox', 'tg-messages-count');">
            Select all
        </button>
    </div>

    <div class="tg-deselect action-bar-button-area">
        {# Deselect all messages / Снять выделение со всех сообщений #}
        <button type="button" class="action-bar-button"
                onclick="deSelectAllCB('.tg-message-checkbox', 'tg-messages-count');">
            Deselect all
        </button>
    </div>

    <div class="tg-invert action-bar-button-area">
        {# Invert selection / Инвертировать выделенное #}
        <button type="button" class="action-bar-button"
                onclick="invertSelectionCB('.tg-message-checkbox', 'tg-messages-count');">
            Invert selection
        </button>
    </div>

    <div class="tg-save_db action-bar-button-area">
        {# Save selected messages to database / Сохранить выбранные сообщения в базе данных #}
        <button class="action-bar-button"
                onclick="pressFormButton({{ form_ctrl_cfg.get_form_cfg(form_cfg) }}, '/tg_save_selected_message_to_db')">
            Save selection to database
        </button>
    </div>

</div>