{# Шаблон панели действий выбора сообщений Telegram #}

{# Конфигурация элементов управления формы #}
{% set form_cfg = form_ctrl_cfg.tg_checkbox_list %}

<div class="tg-action-bar-grid">
    <div class="tg-select action-bar-button-area">
        {# Apply to select all messages #}
        <button type="button" class="action-bar-button"
                onclick="selectAllCB('.tg-message-checkbox', 'tg-messages-count');">
            Select all
        </button>
    </div>
    <div class="tg-deselect action-bar-button-area">
        {# Apply to deselect all messages #}
        <button type="button" class="action-bar-button"
                onclick="deSelectAllCB('.tg-message-checkbox', 'tg-messages-count');">
            Deselect all
        </button>
    </div>
    <div class="tg-invert action-bar-button-area">
        {# Apply to invert selection for all messages #}
        <button type="button" class="action-bar-button"
                onclick="invertSelectionCB('.tg-message-checkbox', 'tg-messages-count');">
            Invert selection
        </button>
    </div>
    <div class="tg-save_db action-bar-button-area">
        {# Apply to save selected messages to database #}
        <button class="action-bar-button"
                onclick="pressFormButton({{ form_ctrl_cfg.get_form_cfg(form_cfg) }}, '/tg_save_selected_message_to_db')">
            Save selection to database
        </button>
    </div>
</div>