<span>
    {% set message_date = tg_details[details_info['date']].strftime(constants['datetime_format']) %}

{#доделать передачу идентификатора группового сообщения через скрытое поле#}
    <input type="hidden" name="message_date" value="{{ message_date }}" id="msg-date">

    <div style="text-align: center;"><b>{{ message_date }}</b>
        <span style="margin-left: 30px;">{{ constants['saved_to_db_label'] }}</span>
        <span style="margin-left: 30px;">
            <input type="checkbox" id="save_to_db" name="save_to_db"
                   hx-post="/check_box_test"
                   hx-trigger="change"
                   hx-include="#save_to_db, #message_date">
            <label for="subscribe">{{ constants['save_to_db_label'] }}</label>
        </span>
    </div><br>
    {{ tg_details[details_info['text']]|replace('\n', '<br>')|safe }}<br>
    {% if tg_details[details_info['photo']] %}
        <br>
        <div style="text-align: center;"><b>Image(s)</b></div>
        <div style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: center;">
            {% for photo in tg_details[details_info['photo']] %}
                <div style="width: 45%; height: 45vh;">
                    <img src="{{ url_for('cache_media', filename=photo) }}" alt="Image(s)"
                         style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if tg_details[details_info['video_thumbnail']] %}
        <br>
        <div style="text-align: center;"><b>Video Thumbnail</b></div>
        {% for video_thumbnail in tg_details[details_info['video_thumbnail']] %}
            <div style="width: 50%; height: 50vh;">
                <img src="{{ url_for('cache_media', filename=video_thumbnail) }}" alt="Video Thumbnail"
                     style="width: 100%; height: 100%; object-fit: contain;">
            </div>
        {% endfor %}
    {% endif %}
</span>
