<!-- Шаблон информации списка диалогов Telegram -->

{# Вывод списка диалогов Telegram #}
<ul class="dialogs-messages-list">
    {% for tg_dialog in tg_dialogs %}
        <li class="{{ loop.cycle('alternating-lines-white', 'alternating-lines-gray') }}">
            <a href="/tg_messages/{{ tg_dialog.dialog_id }}"
               onclick="loadURL('{{ url_for('tg_get_messages', dialog_id=tg_dialog.dialog_id) }}'); return false;">
                {{ tg_dialog.title }}
            </a>
        </li>
    {% endfor %}
</ul>
