<!-- Шаблон для фильтрации диалогов Telegram -->

{# Конфигурация элементов управления формы #}
{% set form_cfg = form_btn_cfg.tg_dialog_filter %}

<!-- Telegram dialogs sort field radiobuttons -->
<p class="group-label no-margin-top">Chats sorting field</p>
<div id="{{ form_cfg.sorting_field }}">
    <input type="radio" id="tg_sort_field_0" name="{{ form_cfg.sorting_field }}" value="0" checked>
    <label for="tg_sort_field_0">Sort by name</label><br>
    <input type="radio" id="tg_sort_field_1" name="{{ form_cfg.sorting_field }}" value="1">
    <label for="tg_sort_field_1">Sort by update date</label>
</div>

<!-- Telegram dialogs sort order radiobuttons -->
<p class="group-label">Chats sort order</p>
<div id="{{ form_cfg.sorting_order }}">
    <input type="radio" id="tg_dial_sort_order_0" name="{{ form_cfg.sorting_order }}" value="0" checked>
    <label for="tg_dial_sort_order_0">Ascending</label><br>
    <input type="radio" id="tg_dial_sort_order_1" name="{{ form_cfg.sorting_order }}" value="1">
    <label for="tg_dial_sort_order_1">Descending</label>
</div>

<!-- Dialog types selection radiobuttons -->
<p class="group-label">Chat types filter</p>
<div id="{{ form_cfg.dialog_type }}">
    <input type="radio" id="tg_type_filter_0" name="{{ form_cfg.dialog_type }}" value="0" checked>
    <label for="tg_type_filter_0">All chats</label><br>
    <input type="radio" id="tg_type_filter_1" name="{{ form_cfg.dialog_type }}" value="1">
    <label for="tg_type_filter_1">Channels</label><br>
    <input type="radio" id="tg_type_filter_2" name="{{ form_cfg.dialog_type }}" value="2">
    <label for="tg_type_filter_2">Groups</label><br>
    <input type="radio" id="tg_type_filter_3" name="{{ form_cfg.dialog_type }}" value="3">
    <label for="tg_type_filter_3">Users</label>
</div>

<!-- Filtering by dialog title -->
<label for="{{ form_cfg.dialog_title_query }}" class="group-label">Filter by chat name</label>
<div class="control-X-button">
    <input type="text"
           id="{{ form_cfg.dialog_title_query }}"
           name="{{ form_cfg.dialog_title_query }}"
           placeholder="Chat name fragment">
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.dialog_title_query }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>

<!-- Apply dialog filters button -->
<button class="apply-filters-buttons"
        onclick="pressFormButton({{ form_btn_cfg.get_form_button_cfg(form_cfg) }}, '/tg_dialog_apply_filters')">
    Apply chat filters
</button>