<!-- Telegram dialogs sort field radiobuttons -->
<h3>Chats sortable field</h3>
<div>
    <input type="radio" id="sort_field_0" name="{{ dialog_settings['sort_field'] }}" value="0" checked>
    <label for="sort_field_0">Sort by title</label>
</div>
<div>
    <input type="radio" id="sort_field_1" name="{{ dialog_settings['sort_field'] }}" value="1">
    <label for="sort_field_1">Sort by update date</label>
</div>

<!-- Telegram dialogs sort order radiobuttons -->
<h3>Chats sort order</h3>
<div>
    <input type="radio" id="sort_order_0" name="{{ dialog_settings['sort_order'] }}" value="0" checked>
    <label for="sort_order_0">Sort by ascending</label>
</div>
<div>
    <input type="radio" id="sort_order_1" name="{{ dialog_settings['sort_order'] }}" value="1">
    <label for="sort_order_1">Sort by descending</label>
</div>

<!-- Dialog types selection radiobuttons -->
<h3>Chat filters</h3>
<div>
    <input type="radio" id="type_filter_0" name="{{ dialog_settings['dialog_type'] }}" value="0" checked>
    <label for="type_filter_0">All chats</label>
</div>
<div>
    <input type="radio" id="type_filter_1" name="{{ dialog_settings['dialog_type'] }}" value="1">
    <label for="type_filter_1">Channels</label>
</div>
<div>
    <input type="radio" id="type_filter_2" name="{{ dialog_settings['dialog_type'] }}" value="2">
    <label for="type_filter_2">Groups</label>
</div>
<div>
    <input type="radio" id="type_filter_3" name="{{ dialog_settings['dialog_type'] }}" value="3">
    <label for="type_filter_3">Users</label>
</div>

<!-- Filtering by dialog title -->
<br>
<div hx-ext="class-tools">
    <label for="{{ dialog_settings['title_query'] }}">Filter by chat name</label><br>
    <input type="text"
           id={{ dialog_settings['title_query'] }}
                   name="{{ dialog_settings['title_query'] }}"
           placeholder="Filter by chat name...">
    <button type="button"
            hx-on:click="document.getElementById('{{ dialog_settings['title_query'] }}').value = ''"
            class="clear-button">
        ✖
    </button>
</div>

<!-- Apply dialog filters button -->
<br>
<button hx-post="/tg_dialog_apply_filters"
        hx-include="input[name='{{ dialog_settings['sort_field'] }}']:checked,
                    input[name='{{ dialog_settings['sort_order'] }}']:checked,
                    input[name='{{ dialog_settings['dialog_type'] }}']:checked,
                    input[name='{{ dialog_settings['title_query'] }}']"
        hx-target="#tg_dialogs">
    Apply chat filters
</button>