<!-- Шаблон для фильтрации сообщений в выбранном диалоге Telegram -->

<!-- Dialog messages sort order radiobuttons -->
<p class="group-label no-margin-top">Messages sort order</p>
<div>
    <input type="radio" id="tg_mess_reverse_0" name="tg_sort_order" value="0">
    <label for="tg_mess_reverse_0">Oldest first</label>
</div>
<div>
    <input type="radio" id="tg_mess_reverse_1" name="tg_sort_order" value="1" checked>
    <label for="tg_mess_reverse_1">Newest first</label>
</div>

<!-- Filtering by date -->
<p class="group-label">Filter by message date</p>
<div class="date-from-to-buttons-grid">
    <!-- Filtering by date from -->
    <label for="tg_date_from">Date from:</label>
    <input type="text" class="date-from-to-buttons"
           id="tg_date_from"
           name="tg_date_from"
           value="{{ date_from_default }}"
           placeholder="DD/MM/YYYY"
           pattern="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d"
           title="Enter date as DD/MM/YYYY">
    <button type="button"
            onclick="document.getElementById('tg_date_from').value = ''"
            class="clear-button X-button">
        ✖
    </button>
    <!-- Filtering by date to -->
    <label for="tg_date_to">Date to:</label>
    <input type="text" class="date-from-to-buttons"
           id="tg_date_to"
           name="tg_date_to"
           placeholder="DD/MM/YYYY"
           pattern="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d"
           title="Enter date as DD/MM/YYYY">
    <button type="button"
            onclick="document.getElementById('tg_date_to').value = ''"
            class="clear-button X-button">
        ✖
    </button>
</div>

<!-- Filtering by message text -->
<div hx-ext="class-tools">
    <label class="group-label" for="tg_message_query">
        <span class="group-label">Filter by message text</span>
    </label>
    <div class="control-X-button">
        <input type="text"
               id="tg_message_query"
               name="tg_message_query"
               placeholder="Filter by message text...">
        <button type="button"
                hx-on:click="document.getElementById('tg_message_query').value = ''"
                class="clear-button X-button">
            ✖
        </button>
    </div>
</div>

<!-- Apply message filters button -->
<button class="apply-filters-buttons"
        hx-post="/tg_message_apply_filters"
        hx-include="input[name='tg_sort_order']:checked,
                    input[name='tg_date_from'],
                    input[name='tg_date_to'],
                    input[name='tg_message_query']"
        hx-target="#tg_messages">
    Apply message filters
</button>