<span id="messages-count-display" hx-swap-oob="true">{{ tg_messages|length }}</span>

<ul style="list-style-type: none; padding-left: 0;">
    {% for tg_message in tg_messages %}
        <li style="margin-bottom: 9px;">
            <a href="#" hx-get="/tg_details/{{ tg_message.dialog_id }}/{{ tg_message.id }}"
               hx-target="#tg_details">{{ tg_message.date }}</a><br>
            {{ tg_message.text|truncate(length=150)|replace('\n', '<br>')|safe }}
        </li>
    {% endfor %}
</ul>
