{#
Displaying a filter for Telegram message groups.
Variables:
  - form_cfg: configuration of form controls for filter processing
#}


{# Configuration of form controls for filter processing / Конфигурация элементов управления формы #}
{% set form_cfg = form_ctrl_cfg.tg_message_filter %}


{# Messages sort order radiobuttons / Выбор порядка сортировки сообщений #}
<p class="group-label no-margin-top">Messages sort order</p>
<div id="{{ form_cfg.sorting_order }}">
    <input type="radio" id="tg_mess_reverse_0" name="{{ form_cfg.sorting_order }}" value="0" checked>
    <label for="tg_mess_reverse_0">Newest first</label><br>
    <input type="radio" id="tg_mess_reverse_1" name="{{ form_cfg.sorting_order }}" value="1">
    <label for="tg_mess_reverse_1">Oldest first</label>
</div>


{# Filter Telegram messages by date / Фильтр сообщений Telegram по дате #}
<p class="group-label">Filter by message date</p>
<div class="date-from-to-buttons-grid">
{#    Filtering by date from / Фильтр по дате начала периода #}
    <label for="{{ form_cfg.date_from }}">Date from:</label>
    <input type="date" class="date-from-to-buttons"
           id="{{ form_cfg.date_from }}"
           name="{{ form_cfg.date_from }}"
           min="2013-01-01"
           value="{{ tg_mess_date_from_default }}">
{#     Filtering by date to / Фильтр по дате конца периода #}
    <label for="{{ form_cfg.date_to }}">Date to:</label>
    <input type="date" class="date-from-to-buttons"
           id="{{ form_cfg.date_to }}"
           name="{{ form_cfg.date_to }}"
           min="2013-01-01"
           placeholder="DD/MM/YYYY">
</div>


{# Filtering Telegram message by text / Фильтр по фрагменту текста сообщений Telegram #}
<label for="{{ form_cfg.message_query }}" class="group-label">Filter by message text</label>
<div class="control-X-button">
    <input type="text"
           id="{{ form_cfg.message_query }}"
           name="{{ form_cfg.message_query }}"
           placeholder="Message text fragment">
    <button type="button"
            onclick="clearFormFields(['{{ form_cfg.message_query }}'])"
            class="clear-button X-button"> ✖
    </button>
</div>


{# Apply message filters button / Кнопка применения фильтра #}
<button class="apply-filters-buttons"
        onclick="pressFormButton({{ form_ctrl_cfg.get_form_cfg(form_cfg) }}, '/tg_message_apply_filters')">
    Apply message filters
</button>