<!-- Dialog messages sort order radiobuttons -->
<div>
    <h3>Telegram messages sort order</h3>
    <input type="radio" id="mess_reverse_0" name="mess_reverse" value="0" checked>
    <label for="mess_reverse_0">Sort by date in ascending</label>
</div>
<div>
    <input type="radio" id="mess_reverse_1" name="mess_reverse" value="1">
    <label for="mess_reverse_1">Sort by date in descending</label>
</div>

<!-- Filtering by date from -->
<br>
<div>
    <label for="date_from">Date from</label><br>
    <input type="text"
           id="date_from"
           name="date_from"
           value="01/01/2025"
           placeholder="DD/MM/YYYY"
           pattern="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d"
           title="Enter date as DD/MM/YYYY">
    <button type="button"
            onclick="document.getElementById('date_from').value = ''"
            class="clear-button">
        ✖
    </button>
</div>

<!-- Filtering by date to -->
<br>
<div>
    <label for="date_to">Date to</label><br>
    <input type="text"
           id="date_to"
           name="date_to"
           placeholder="DD/MM/YYYY"
           pattern="(0[1-9]|[12][0-9]|3[01])/(0[1-9]|1[012])/(19|20)\d\d"
           title="Enter date as DD/MM/YYYY">
    <button type="button"
            onclick="document.getElementById('date_to').value = ''"
            class="clear-button">
        ✖
    </button>
</div>


<!-- Filtering by message text -->
<br>
<div hx-ext="class-tools">
    <label for="search">Filter by message text</label><br>
    <input type="text"
           id="search"
           name="search"
           placeholder="Filter by message text...">
    <button type="button"
            hx-on:click="document.getElementById('search').value = ''"
            class="clear-button">
        ✖
    </button>
</div>


{#<!-- Filtering by message limit -->#}
{#<br>#}
{#<div hx-ext="class-tools">#}
{#    <label for="limit">Limit of messages</label><br>#}
{#    <input type="number"#}
{#           id="limit"#}
{#           name="limit"#}
{#           placeholder="Enter integer number, default 20"#}
{#           step="1"#}
{#           oninput="this.value = this.value.replace(/[^0-9]/g, '');"#}
{#           pattern="\d*">#}
{#    <button type="button"#}
{#            hx-on:click="document.getElementById('limit').value = ''"#}
{#            class="clear-button">#}
{#        ✖#}
{#    </button>#}
{#</div>#}


<!-- Apply message filters button -->
<br>
<button hx-post="/tg_message_apply_filters"
        hx-include="input[name='mess_reverse']:checked, input[name='date_from'], input[name='date_to'],
                    input[name='search']"      {#, input[name='limit']#}
        hx-target="#tg_messages">
    Apply message filters
</button>